<html>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<head>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<div class="boton">

    <button class="home">Home</button>
    
    <input placeholder="Type search term..." type="text">
    <button class="search">Search</button>
</div>

<h1>{{pageTitle}}</h1>

{{#if notes}}
<ul>
    {{#notes}}
        <li><a href='/api/notes/{{id}}'>{{title}}</a></li>
    {{/notes}}
</ul>
    {{else}}
        <div class="nonotes">No notes found</div>
{{/if}}

<button class="create">Create a note</button>

</body>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
<script src="/js/filterednotes.js"></script>

</html>