<html>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<head>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<div class="boton">
    <button class="home">Home</button>
    <input placeholder="Type search term..." type="text">
    <button class="search">Search</button>
</div>

<h2>{{title}}</h2>
<h3>{{text}}</h3>
<h4>{{tags}}</h4>

<button class="delete">Delete note</button>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
<script src="/js/note.js"></script>

</body>
</html>