a {
    font-weight: bolder;
    text-decoration: none;
    color: blue;
    font-size: 20px;
    font-family: Arial, sans-serif;
}

li {
    margin-bottom: 5px;
}

.nonotes {
    font-weight: bolder;
    color: blue;
    font-size: 25px;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    margin-top: 10px;
}

.textareas {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    display: none;
}

.textareas .title {
	margin-bottom: 20px;
}

.textareas .argument {
	margin-bottom: 20px;
}

textarea {
	box-sizing: border-box;
	width: 500px;
	height: 100px;
	resize: none;
}

.backandadd {
    display: flex;
    flex-direction: row;
    justify-content: center;
    display: none;
}

.textareas .errortext {
	color: red;
	display: none;
}

.backandadd .back{
	margin-right: 10px;
}